
body:not([allow-scroll-x]) {
  overflow-x: hidden;
}

x-page {
  display: block;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  box-sizing: border-box;
  contain: layout style;
  -webkit-transition: opacity ease;
  transition: opacity ease;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

x-page > header,
x-page > footer,
x-page > section {
  position: fixed;
  contain: layout style;
  box-sizing: border-box;
  -webkit-transition: opacity ease, -webkit-transform ease;
  transition: opacity ease, transform ease;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
}

x-page > header,
x-page > footer {
  left: 0;
  right: 0;
  height: 3.5em;
  line-height: 3.5em;
  z-index: 1;
}

x-page > header {
  top: 0;
}

x-page > footer {
  bottom: 0;
}

x-page > section {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  overflow: visible;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

x-page > header ~ section {
  padding-top: 3.5em;
}

x-page > section:not(:last-child) {
  padding-bottom: 3.5em;
}

x-page:not([page-transition]) > section,
x-page[page-transition~="fade"] {
  opacity: 0;
}

x-page[page-transition~="slide-up"] > * {
  transform: translate(0%, 100vh);
  -webkit-transform: translate(0%, 100vh);
}

x-page[page-transition~="slide-down"] > * {
  transform: translate(0%, -100vh);
  -webkit-transform: translate(0%, -100vh);
}

x-page[page-transition~="slide-left"] > * {
  left: 0;
  -webkit-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
}

x-page[page-transition~="slide-right"] > * {
  right: 0;
  -webkit-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
}

x-page:not([page-transition]) > header {
  top: 0;
  transform: translate(0%, -100%);
  -webkit-transform: translate(0%, -100%);
}

x-page:not([page-transition]) > footer {
  bottom: 0;
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
}

x-page[selected] {
  z-index: 1;
}

x-page:not([selected]):not([active]) > * {
  z-index: 2;
}

x-page:not([selected]):not([active]) > header,
x-page:not([selected]):not([active]) > footer {
  z-index: 3;
}

x-page[active] {
  position: absolute;
}

x-page[active],
x-page[transitioning="inactive"] {
  visibility: visible;
}

x-page[active]:not([transition="inactive"]),
x-page[active]:not([transition="inactive"]) > * {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

@media (max-device-width: 1024px) {
  x-page > * {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
}
