
x-page {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 0;
  box-sizing: border-box;
  will-change: opacity, transform, -webkit-transform;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

x-page > header,
x-page > footer {
  position: absolute;
  width: 100%;
  height: 3.25em;
  z-index: 3;
}

x-page > header {
  top: 0;
}

x-page > footer {
  bottom: 0;
}

x-page > section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

x-page[transitioning="enter"][transition-enter="slide-left"],
x-page[transitioning="exit"][transition-exit="slide-left"],
x-page[transitioning="enter"][transition-reverse][transition-exit="slide-right"],
x-page[transitioning="exit"][transition-reverse][transition-enter="slide-left"] {
  transform: translate(100%, 0%);
}

x-page[transitioning="enter"][transition-enter="slide-right"],
x-page[transitioning="exit"][transition-exit="slide-right"],
x-page[transitioning="enter"][transition-reverse][transition-exit="slide-left"],
x-page[transitioning="exit"][transition-reverse][transition-enter="slide-right"] {
  transform: translate(-100%, 0%);
}

x-page[transitioning="enter"][transition-enter="slide-down"],
x-page[transitioning="exit"][transition-exit="slide-down"],
x-page[transitioning="enter"][transition-reverse][transition-exit="slide-up"],
x-page[transitioning="exit"][transition-reverse][transition-enter="slide-down"] {
  transform: translate(0%, 100%);
}

x-page[transitioning="enter"][transition-enter="slide-up"],
x-page[transitioning="exit"][transition-exit="slide-up"],
x-page[transitioning="enter"][transition-reverse][transition-exit="slide-down"],
x-page[transitioning="exit"][transition-reverse][transition-enter="slide-up"] {
  transform: translate(0%, -100%);
}

x-page[selected],
x-page[transitioning="enter"][transition-enter^="slide"],
x-page[transitioning="exit"][transition-exit^="slide"] {
  z-index: 1;
}

x-page[transitioning="exit"][transition-reverse][transition-enter^="slide"] {
  z-index: 2;
}

x-page[transitioning="enter"][transition-enter="scale"],
x-page[transitioning="exit"][transition-exit="scale"],
x-page[transitioning="enter"][transition-reverse][transition-exit="scale"],
x-page[transitioning="exit"][transition-reverse][transition-enter="scale"] {
  opacity: 0;
  transform: translate(0%, 0%) scale(0.5);
}

x-page[transitioning],
x-page[transition="enter"] {
  display: block;
}

x-page[transition="enter"],
x-page[transition="enter"][transitioning],
x-page[transition="enter"][transition-enter="scale"],
x-page[transition="enter"][transition-reverse][transition-exit="scale"],
x-page[transitioning="enter"]:not([transition-enter]),
x-page[transitioning="enter"][transition-reverse]:not([transition-exit]) {
  opacity: 1 !important;
  transform: translate(0%, 0%) scale(1) rotate(0deg) !important;
}

@media (max-device-width: 1024px) {
  x-page {
    transition-duration: 0.3s;
  }
}
