
x-page {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  box-sizing: border-box;
  contain: layout style;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

x-page > * {
  position: absolute;
  contain: layout style;
  box-sizing: border-box;
  will-change: opacity, transform, -webkit-transform;
  -webkit-transition: opacity ease, -webkit-transform ease;
  transition: opacity ease, transform ease;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
}

x-page > header,
x-page > footer {
  position: fixed;
  left: 0;
  right: 0;
  height: 3.5em;
  line-height: 3.5em;
  z-index: 1;
}

x-page > header {
  top: 0;
}

x-page > footer {
  bottom: 0;
}

x-page > section {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  overflow: visible;
}

x-page > section,
x-page > [page-content] {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

x-page > header ~ section {
  padding-top: 3.5em;
}

x-page > section:not(:last-child) {
  padding-bottom: 3.5em;
}

x-page > [page-transition~="fade"] {
  opacity: 0;
}

x-page > [page-transition~="slide-down"] {
  top: 0;
  transform: translate(0%, -100%);
  -webkit-transform: translate(0%, -100%);
}

x-page > [page-transition~="slide-up"] {
  bottom: 0;
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
}

x-page > header:not([page-transition]),
x-page > footer:not([page-transition]),
x-page > section:not([page-transition]),
x-page > [page-transition~="slide-right"] {
  left: 0;
  -webkit-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
}

x-page > [page-transition~="slide-left"] {
  right: 0;
  -webkit-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
}

x-page[selected] > header,
x-page[selected] > footer {
  z-index: 1;
}

x-page:not([selected]):not([active]) > * {
  z-index: 2;
}

x-page:not([selected]):not([active]) > header,
x-page:not([selected]):not([active]) > footer {
  z-index: 3;
}

x-page:not([active]) > section,
x-page:not([active]) > [page-content] {
  position: fixed;
}

x-page[active] {
  visibility: visible;
}

x-page[active] > header,
x-page[active] > footer,
x-page[active] > section,
x-page[active] > [page-transition] {
  opacity: 1;
  -webkit-transform: translate(0%, 0%) scale(1) rotate(0deg);
  transform: translate(0%, 0%) scale(1) rotate(0deg);
}

@media (max-device-width: 1024px) {
  x-page > * {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
}
