
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

x-page {
  display: none;
  position: absolute;
  top: 0;
  z-index: 0;
  height: 100vh;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

x-page > * {
  transition: inherit;
  will-change: opacity, transform, -webkit-transform;
}

x-page,
x-page > header,
x-page > footer {
  left: 0;
  right: 0;
  box-sizing: border-box;
}

x-page > header,
x-page > footer {
  position: fixed;
  height: 3.25em;
  z-index: 1;
}

x-page > header {
  top: 0;
}

x-page > footer {
  bottom: 0;
}

x-page > section:not(:first-child) {
  padding-top: 3.25em;
}

x-page > section:not(:last-child) {
  padding-bottom: 3.25em;
}

x-page[transitioning="enter"][transition-enter="slide-left"] > *,
x-page[transitioning="exit"][transition-exit="slide-left"] > *,
x-page[transitioning="enter"][transition-reverse][transition-exit="slide-right"] > *,
x-page[transitioning="exit"][transition-reverse][transition-enter="slide-left"] > * {
  transform: translate(100%, 0%);
}

x-page[transitioning="enter"][transition-enter="slide-right"] > *,
x-page[transitioning="exit"][transition-exit="slide-right"] > *,
x-page[transitioning="enter"][transition-reverse][transition-exit="slide-left"] > *,
x-page[transitioning="exit"][transition-reverse][transition-enter="slide-right"] > * {
  transform: translate(-100%, 0%);
}

x-page[transitioning="enter"][transition-enter="slide-down"] > section,
x-page[transitioning="exit"][transition-exit="slide-down"] > section,
x-page[transitioning="enter"][transition-reverse][transition-exit="slide-up"] > section,
x-page[transitioning="exit"][transition-reverse][transition-enter="slide-down"] > section {
  transform: translate(0%, 100vh);
}

x-page[transitioning="enter"][transition-enter="slide-down"] > header,
x-page[transitioning="exit"][transition-exit="slide-down"] > header,
x-page[transitioning="enter"][transition-reverse][transition-exit="slide-up"] > header,
x-page[transitioning="exit"][transition-reverse][transition-enter="slide-down"] > header,
x-page[transitioning="enter"][transition-enter="slide-down"] > footer,
x-page[transitioning="exit"][transition-exit="slide-down"] > footer,
x-page[transitioning="enter"][transition-reverse][transition-exit="slide-up"] > footer,
x-page[transitioning="exit"][transition-reverse][transition-enter="slide-down"] > footer {
  transform: translate(0%, 100vh);
}

x-page[transitioning="enter"][transition-enter="slide-up"] > section,
x-page[transitioning="exit"][transition-exit="slide-up"] > section,
x-page[transitioning="enter"][transition-reverse][transition-exit="slide-down"] > section,
x-page[transitioning="exit"][transition-reverse][transition-enter="slide-up"] > section {
  transform: translate(0%, -100vh);
}

x-page[transitioning="enter"][transition-enter="slide-up"] > header,
x-page[transitioning="exit"][transition-exit="slide-up"] > header,
x-page[transitioning="enter"][transition-reverse][transition-exit="slide-down"] > header,
x-page[transitioning="exit"][transition-reverse][transition-enter="slide-up"] > header,
x-page[transitioning="enter"][transition-enter="slide-up"] > footer,
x-page[transitioning="exit"][transition-exit="slide-up"] > footer,
x-page[transitioning="enter"][transition-reverse][transition-exit="slide-down"] > footer,
x-page[transitioning="exit"][transition-reverse][transition-enter="slide-up"] > footer {
  transform: translate(0%, -100vh);
}

x-page[selected],
x-page[transitioning="enter"][transition-enter^="slide"],
x-page[transitioning="exit"][transition-exit^="slide"] {
  z-index: 1;
}

x-page[transitioning="exit"][transition-reverse][transition-enter^="slide"] {
  z-index: 2;
}

x-page[transitioning="enter"][transition-enter="scale"] > header,
x-page[transitioning="exit"][transition-exit="scale"] > header,
x-page[transitioning="enter"][transition-reverse][transition-exit="scale"] > header,
x-page[transitioning="exit"][transition-reverse][transition-enter="scale"] > header {
  transform: translate(0%, -100%);
}

x-page[transitioning="enter"][transition-enter="scale"] > footer,
x-page[transitioning="exit"][transition-exit="scale"] > footer,
x-page[transitioning="enter"][transition-reverse][transition-exit="scale"] > footer,
x-page[transitioning="exit"][transition-reverse][transition-enter="scale"] > footer {
  transform: translate(0%, 100%);
}

x-page[transitioning="enter"][transition-enter="scale"] > section,
x-page[transitioning="exit"][transition-exit="scale"] > section,
x-page[transitioning="enter"][transition-reverse][transition-exit="scale"] > section,
x-page[transitioning="exit"][transition-reverse][transition-enter="scale"] > section {
  opacity: 0;
  transform: translate(0%, 0%) scale(0.5);
}

x-page[transitioning],
x-page[transition="enter"] {
  display: block;
}

x-page[transitioning] {
  overflow: hidden;
}

x-page[transitioning] > section {
  height: 100vh;
  overflow: hidden;
}

x-page[transition="enter"]:not([transitioning]) {
  overflow-y: visible !important;
  transform: none !important;
}

x-page[transition="enter"] > *,
x-page[transition="enter"][transitioning] > *,
x-page[transition="enter"][transition-enter="scale"] > *,
x-page[transition="enter"][transition-reverse][transition-exit="scale"] > *,
x-page[transitioning="enter"]:not([transition-enter]) > *,
x-page[transitioning="enter"][transition-reverse]:not([transition-exit]) > * {
  opacity: 1 !important;
  transform: translate(0%, 0%) scale(1) rotate(0deg) !important;
  will-change: auto;
}

@media (max-device-width: 1024px) {
  x-page {
    transition-duration: 0.3s;
  }
}
